<header id="header">
    <div class="container-fluid">
        <div class="navbar">
            <a [routerLink]="['/']" id="logo" title="Hostess & Cook">
                <img class="logo" src="../../assets/images/Logo/H4.png" alt="H & C Logo" width="80" height="70">
            </a>
            <div class="navigation-row">
                <nav id="navigation">
                    <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                    <div class="nav-box navbar-collapse">
                        <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                            <!-- <li data-menuanchor="shop" class="active"><a class="shopFont" href="https://shop.hostessandcook.com/shop/index.php?" target="blank">Shop</a></li> -->
                            <li data-menuanchor="welcome" class="active"><a href="#welcome">Home</a></li>
                            <li data-menuanchor="about"><a href="#about" >About Me</a></li>
                            <li data-menuanchor="aboutus"><a href="#aboutus">About Us</a></li>
                            <li data-menuanchor="h-c"><a href="#h-c">H & C</a></li>
                            <li data-menuanchor="products-services"><a href="#products-services">Products & Services</a></li>
                            <li data-menuanchor="reviews"><a href="#reviews">Reviews</a></li>
                            <li data-menuanchor="contact"><a href="#contact">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div>
                <h3>
                    <a href="https://shop.hostessandcook.com/shop/index.php?" target="blank">
                    <i class="fa fa-shopping-cart" aria-hidden="true">Shop</i></a>
                    
                </h3>
            </div>
        </div>
    </div>
</header>