<div id="social-icons">
    <div class="text-right">
        <ul class="social-icons">
            <li><a href="https://facebook.com/HostessandCook" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/@hostessandcook" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://instagram.com/hostessandcook" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
</div>