<div class="section animated-row" data-section="slide06">
    <div class="section-inner">
        <div class="row justify-content-center">
            <div class="col-md-8 wide-col-laptop">
                <div class="title-block animate" data-animate="fadeInUp">
                    <span>TESTIMONIALS</span>
                    <h2>what THEY SAY?</h2>
                </div>
                <div class="col-md-8 offset-md-2">
                    <div class="testimonials-section">
                        <div class="testimonials-slider owl-carousel">
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="testimonial-item">
                                    <div class="client-row">
                                        <img src="images/profile-01.jpg" class="rounded-circle" alt="profile 1">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4>Odette Hartslief</h4>
                                        <p>"I would like to convey my sincerest appreciation and thanks to you and your team – the catering
                                            service provided today was superbly done. It was well received and presented."</p>
                                        <span>Managing Director</span>
                                    </div>                                           
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="testimonial-item">
                                    <div class="client-row">
                                        <img src="images/profile-01.jpg" class="rounded-circle" alt="profile 1">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4>Romi Da Silva</h4>
                                        <p>"The red velvet cup cakes where amazing! The guests loved them!"</p>
                                        <span>Managing Director</span>
                                    </div>                                           
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="testimonial-item">
                                    <div class="client-row">
                                        <img src="images/profile-01.jpg" class="rounded-circle" alt="profile 1">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4>Mbali Mkhize</h4>
                                        <p>"Yho damn girl, the savory scones, OMG the stew out of this world, the flavors are not over bearing
                                            on the palate, everything blends very well together. It's a yes from me."</p>
                                        <span>Managing Director</span>
                                    </div>                                           
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="testimonial-item">
                                    <div class="client-row">
                                        <img src="images/profile-01.jpg" class="rounded-circle" alt="profile 2">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4>Linda M</h4>
                                        <p>"Afternoon Andy, I just wanted to say thank you so much for the most delectable red velvet cupcakes
                                            you baked for valentine's day. They were simply delicious my daughter and I loved them to bits and
                                            we couldn't get enough of them we are huge fans of your work now. Thanks again!!
                        
                                            Happy customer."</p>
                                        <span>CEO and Founder</span>
                                    </div>                                           
                                </div>
                            </div>
                            <div class="item animate" data-animate="fadeInUp">
                                <div class="testimonial-item">
                                    <div class="client-row">
                                        <img src="images/profile-01.jpg" class="rounded-circle" alt="profile 3">
                                    </div>
                                    <div class="testimonial-content">
                                        <h4>Anonymous</h4>
                                        <p>"I have been fortunate to have tested various meals prepared by Hostess and Cook from their
                                            delicious scrumptious muffins to their African traditional meals. My best experience to yet, came
                                            when I received an invitation to a Christmas lunch and the best part was seeing the owner and chef
                                            live in action, how she takes pride in what she does really stood out for me. She would explain what
                                            she was preparing from starters, main course to desert. Firstly the dishes she serves in are
                                            beautiful and clean and that's a very important factor if you're to enjoy your food, and my biggest
                                            moment came when the chicken wings and lamb chops were served since I'm a big fan of meat, I
                                            literally went in "hard", the g on the day was so impressed and had so much praise for the chef, a
                                            day well spent!
                        
                                            Thank You "</p>
                                        <span>Chief Marketing Officer</span>
                                    </div>                                           
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>